body {
    padding-bottom: 20px;
}

.body-content {
    padding-bottom: 15px;
}

.menu-icons {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.no-margin {
    margin: 0;
}

.panel-display {
    min-height: 496px; 
    max-height: 496px;
}

.gameboard {
    height: 500px;
    width: 100%;
}

.panel-side-info {
    height: 551px;
}

.username-list {
    vertical-align: top;
}

.loadingBody {
    display: table;
    width: 100%;
}

.loadingSpinner {
    text-align: center;
    display: table-cell;
    vertical-align: middle;    
}

.center-content {
    text-align: center;
}

.game-info-row {
    height: calc(500px - 300px);
}

.game-row {
    height: calc(500px - 350px);
}

.game-card {
    height: calc(150px - 30px);
}

.card-selected-top {
    -webkit-transition: -webkit-transform 0.2s linear;
    -webkit-transform: translateY(20px);
}

.card-selected-bottom {
    -webkit-transition: -webkit-transform 0.2s linear;
    -webkit-transform: translateY(-20px);
}

.playerinfo {
    text-align: center;
    margin: 0;
    font-weight: bold;
}

.gameinfo {
    text-align: center;
    margin: 0;
}

#resume .border {
    padding: 5px;
    border: 1px solid #CCCCCC;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}

#resume .name {
    text-align: center;
}

#resume .contact-info {
    text-align: center;
}

#resume .horizontal-black-line {
    border-bottom: thin solid black; 
    padding-top: 10px;
}

#resume .horizontal-gray-line {
    border-bottom: thin solid darkgray; 
    padding-top: 10px;
}

#resume .body {
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 768px) {
    #resume .body {
        margin-left: auto;
        margin-right: auto;
        width: 650px;
    }

    #resume .name {
        text-align: right; 
        padding-right: 35px
    }

    #resume .contact-info {
        text-align: left;
        border-left: thin solid black;
    }
}

@media (min-width: 1200px) {
    #resume {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    #resume .body {
        margin-left: auto;
        margin-right: auto;
        width: 750px;
    }
}

#resume .wrapper {
    border: 1px solid #999;
    padding-top: 10px;
    padding-left: 3%;
    padding-right: 3%;
}

#resume .contact-icon {
    text-align: center;
}

#resume .large-icon {
    width: 28px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}