@using InterWebs.Extension

<div id="Game">
    <div class="col-md-9">
        <div class="panel panel-info" data-bind="with: gameBoxView">
            <div class="panel-heading">
                <h3 class="panel-title" data-i18n="Game.GameRoom"></h3>
            </div>
            <div class="panel-body loadingBody panel-display" data-bind="visible: !loadedGame()">
                <div class="loadingSpinner">
                    <i class="fa fa-3x fa-spinner fa-spin"></i>
                </div>
            </div>
            <table class="gameboard" style="display: none" data-bind="visible: loadedGame">
                <tbody>
                    <tr class=" row game-row" data-bind="with: players[0]">
                        <td style="width: 15%">
                            <p data-bind="text: name"></p>
                        </td>
                        <td class="center-content" data-bind="foreach: cards">
                            <img class="game-card" data-bind="click: $parents[1].cardClicked, attr:{src: src}, css: {'card-selected-top': $parent.selectedCard() == index}" alt="">
                        </td>
                        <td style="width: 15%"></td>
                    </tr>
                    <tr class="row game-row">
                        <td>
                            <p data-bind="text: roundMessage"></p>
                        </td>
                    </tr>
                    <tr class="row game-row"></tr>
                    <tr class="row game-row" data-bind="with: players[1]">
                        <td style="width: 15%">
                            <p data-bind="text: name"></p>
                        </td>
                        <td class="center-content" data-bind="foreach: cards">
                            <img class="game-card" data-bind="click: $parents[1].cardClicked, attr:{src: src}, css: {'card-selected-bottom': $parent.selectedCard() == index}" alt="">
                        </td>
                        <td style="width: 15%"></td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-footer">
                <button class="btn btn-default" type="button" data-bind="disable: gameFull(), visible: !playing(), text: $.t('Game.Join'), click: joinGame"></button>
                <button class="btn btn-default" type="button" style="display: none;" data-bind="visible: playing(), text: $.t('Game.Leave'), click: leaveGame"></button>
                <button class="btn btn-default" type="button" style="display: none;" data-bind="visible: playing(), text: $.t('Game.Shuffle'), click: shuffleDeck"></button>
            </div>
        </div>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm" data-bind="with: activeGameUsersView">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title" data-i18n="Game.ActiveUsers"></h2>
            </div>
            <div class="username-list panel-body panel-user-info" data-bind="foreach: activeUsers">
                <p data-bind="text: $data"></p>
            </div>
        </div>
    </div>
</div>

<script src="~/signalr/hubs"></script>
<script>
    $(function () {
        var vm = new IW.All.GameViewModel({
            user: @Html.JavaScriptSerialize(ViewData["UserName"]),
            cards: @Html.JavaScriptSerialize(ViewData["Cards"]),
            cardPath: @Html.JavaScriptSerialize(ViewData["CardPath"]),
            backCardPath: @Html.JavaScriptSerialize(ViewData["BackCardPath"])
            }); 

        ko.applyBindings(vm, $('#Game')[0]);
    });
</script>