@using InterWebs.Extension

<div id="Game">
    <div class="col-md-9">
        <div class="panel panel-info" data-bind="with: gameBoxView">
            <div class="panel-heading">
                <h3 class="panel-title">Game Room</h3>
            </div>
            <table class="gameboard">
                <tbody>
                    <tr class="row game-row">
                        <td class="center-content game-row-top">
                            <img class="game-card" data-bind="click: $parent.changeCard" src="~/Content/Images/Playing Cards/10_of_diamonds.svg">
                            <img class="game-card" data-bind="click: $parent.changeCard" src="~/Content/Images/Playing Cards/ace_of_diamonds.svg">
                        </td>
                    </tr>
                    <tr class="row game-row"></tr>
                    <tr class="row game-row"></tr>
                    <tr class="row game-row">
                        <td class="center-content game-row-bottom">
                            <img class="game-card" data-bind="click: $parent.changeCard" src="~/Content/Images/Playing Cards/2_of_hearts.svg">
                            <img class="game-card" data-bind="click: $parent.changeCard" src="~/Content/Images/Playing Cards/king_of_clubs2.svg">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm" data-bind="with: activeGameUsersView">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">Active Users</h2>
            </div>
            <div class="username-list panel-body panel-user-info" data-bind="foreach: activeUsers">
                <p data-bind="text: $data"></p>
            </div>
        </div>
    </div>
</div>

<script src="~/signalr/hubs"></script>
<script>
    $(function () {
        var vm = new IW.All.GameViewModel({
            user: @Html.JavaScriptSerialize(ViewData["UserName"]),
            cards: @Html.JavaScriptSerialize(ViewData["Cards"]),
            cardPath: @Html.JavaScriptSerialize(ViewData["CardPath"])
            }); 

        ko.applyBindings(vm, $('#Game')[0]);
    });
</script>