@using InterWebs.Extension

<div id="Chat">
    <div class="col-md-9">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Chat Room</h3>
            </div>
            <div class="panel-body loadingBody" data-bind="visible: !loadedMessages()">
                <div class="loadingSpinner">
                    <i class="fa fa-3x fa-spinner fa-spin"></i>
                </div>
            </div>
            <div id="ChatMessages" class="panel-body pre-scrollable" data-bind="visible: loadedMessages, foreach: chatMessages">
                <h5 style="font-weight: bold" data-bind="text: user + ':'"></h5>
                <p data-bind="text: '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + text"></p>
                <hr />
            </div>
            <div class="panel-footer">
                <form class="input-group">
                    <input type="text" class="form-control" data-bind="enable: loadedMessages, textInput: message, attr: {placeholder: enterMessage}, hasFocus: enterMessageFocus, executeOnEnter: sendMessage">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-bind="text: send, enable: message, click: sendMessage"></button>
                    </span>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm" data-bind="with: activeUsersView">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h2 class="panel-title">Active Users</h2>
            </div>
            <div class="username-list panel-body" data-bind="foreach: activeUsers">
                <p data-bind="text: $data"></p>
            </div>
        </div>
    </div>
</div>

<script src="~/signalr/hubs"></script>
<script>
    $(function () {
        var vm = new IW.All.ChatViewModel({
            user: @Html.JavaScriptSerialize(ViewData["UserName"]),
            chatMessages: @Html.JavaScriptSerialize(ViewData["ChatMessages"]),
            storeMessageUrl: @Html.JavaScriptSerialize(Url.Action("StoreChatMessage"))
            }); 

        ko.applyBindings(vm, $('#Chat')[0]);
    });
</script>