@{
    ViewBag.Title = "Sang Nguyen";
}

<div id="Index">
    <div class="jumbotron">
        <h1>Welcome to Sang's Website</h1>
        <p class="lead">Random things about me + projects I am currently working on. Open for your perusal!</p>
    </div>
    
    <div>
        <p class="lead">About Me</p>
        <p>
            My first ever experience with programming was in Grade 11. 
            My teacher believed that programming should be self-taught and so he left us to learn at our own pace. 
            I had first started programming in Visual Basic and soon after began learning C.
            I even remember when I was puzzled and was unsure of what a parameter was.
        </p>
        <p>
            A philosophy that I take to heart and remind myself is that you need to learn to learn because learning is a skill.
            An analogy to this is imagine your brain is a map, everytime you learn something you build a road  and naturally
            with more roads you will get from one place to another quicker.
        </p>
        <p class="hidden-xs">
            And roads are important... Because without them I would have not been able to travel to these places.
        </p>
    </div>

    <div class="row hidden-xs" style="margin-left: auto; margin-right: auto; width: 100%;">
        <iframe style="width: 100%; height: 500px" src="https://mapsengine.google.com/map/u/0/embed?mid=zW8XZOtp1DNo.kpZVES8tJYUQ"></iframe>
    </div>
</div>

