@{
    ViewBag.Title = "Sang Nguyen";
}

<div id="Index">
    <div class="jumbotron">
        <h1>Welcome to Sang's Website</h1>
        <p class="lead">Random things about me + projects I am currently working on. Open for your perusal!</p>
    </div>
</div>

