@{
    ViewBag.Title = "Sang Nguyen's Website";
}

<div id="Index">
    <div class="well">
        <h1>Welcome to my personal website</h1>
        <p class="lead">Here lies side-projects + things about me. Open for your perusal!</p>
    </div>
    
    <div>
        <h3>About Me</h3>
        <p>
            I often like to remind myself that learning is a skill. 
            You need to learn to learn and like anything else the more you practice the better you get.
            Your brain is like a map and everytime you learn you build a road. 
            Naturally with more roads you get from one place to another quicker. 
        </p>
        <p class="hidden-xs">
            Besides learning I also enjoy traveling. Below is a map of cities that I've traveled to. 
            <br/>
            I look forward to the next pin :)
        </p>
    </div>

    <div class="row hidden-xs" style="margin-left: auto; margin-right: auto; width: 100%;">
        <iframe style="width: 100%; height: 500px" src="https://mapsengine.google.com/map/u/0/embed?mid=zW8XZOtp1DNo.kpZVES8tJYUQ"></iframe>
    </div>
</div>

